* {
  margin: 0;
  padding: 0;
}

body {
    padding: 0px;
}

h1 {
  font-weight: bold !important;
  font-family: 'Bad Script', cursive, bold !important;
}

p, h2, h3 {
  font-size: 2em;
  font-weight: bold !important;
  font-family: 'Bad Script', cursive, bold !important;
}

#splash {
  background-image: url(./images/birthday-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.splash_text{
  background: rgba(255, 255, 255, 0.65);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #990661;
  text-shadow: 2px 2px rgb(76, 255, 255);
  padding: 0 40px;
  text-align: center;
}

.splash-about-me {
  font-size: 1.8em;
  line-height: 1.6;
  font-style: bold;
  padding-bottom: 30px;
}

.logo {
  margin-bottom: 10px;
  width: 270px;
}

.nav-link {
  margin-top: 5%;
}

.arrow-icon {
  width: 30px;
  animation: bounce 1.5s infinite alternate;
 -webkit-animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.prices {
  width: 100%;
  margin: auto;
}

.prices .words {
  color: purple;
  margin-left: 10%;
}

.prices_img {
  width: 100%;
}

.alert-note {
  font-size: 0.8em;
  font-style: italic;
}

.contact-me-shell {
  background-image: url("./images/glitter.jpeg");
  width: 100%;
  margin: auto;
}

.contact-me {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(76, 255, 255,0.7);
  text-align: center;
  padding: 50px;
  font-size: 0.8em;
  color: #990661;
}

.contact-me_input {
  font-size: .8em;
  color: #990661;
  margin: 10px;
  width: 250px;
  border: 3px solid #990661;
  border-radius: 2px;
  text-align: center;
  font-family: sans-serif;
}

.contact-me_input_num {
  width: 192px;
}

.contact-me_input_date {
  width: 200px;
}

.contact-me_input_option {
  width: 160px;
}

.contact-me_textarea {
  border-radius: 2px;
  font-size: 1em !important;
  color: #990661;
  margin: 10px;
  width: 280px;
  border: 3px solid #990661;
}

.label-textarea {
  position: relative;
  padding-top: 20px ;
}

.contact-me_btn {
  background: none;
  border: none;
  margin-top: 10px;
}

.send-btn {
  width: 90px;
}

.send-btn:hover {
  width: 95px;
}

.hidden {
  visibility: hidden;
  width: 0px;
}

.input-img-btn {
  cursor: pointer;
  margin-left: 17px
}

.example-image {
  margin-top: 20px;
  max-width:180px;
}

input[type=file] {
  padding:10px;
  background:#2d2d2d;
}

.footer {
  text-align: center;
  background-image: url(/images/pink-glitter.jpeg);
  color: rgba(76, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  #copyright {
    font-size: 0.9em;
    letter-spacing: 1px;
  }

  .contact-me_input_num {
    width: 250px !important;
  }

  .contact-me_input_date {
    width: 250px !important;
  }

  .contact-me_input_option {
    width: 250px !important;
  }

  .input-img-btn {
    margin-left: 5px;
  }

  .example-image {
    margin-left: 30px;
  }
}


.footer_ul {
  list-style: none;
  background-color: rgba(58, 2, 46, 0.5);
}

.footer_li {
 display: inline-block;
 z-index: 1;
}

.footer_img {
  width: 40px;
  background: none;
  border-radius: 100px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.recaptcha {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.merch {
  background-image: url(/images/paper.jpeg);
  height:100%;
  border-bottom: 0.6em solid rgb(37, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.merch-img {
  height: 220px;
  margin-bottom: 5px;
}

.merch-img:hover {
  height: 225px;
  margin-bottom: 0px;
}

.merch-heading {
  margin: 0px;
  padding: 0px;
}
