body {
    background-image: url("./images/cupcake-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    letter-spacing: 2px;
    height: 100%;
    padding: 0px;
}

header {
  background-color: hotpink;
  margin: 0;
  padding: 0px;
  top: 0;
  left: 0;
  font-size: 1.3em;
  position: fixed;
  width: 100%;
  text-align: center;
  color: purple;
  border-top: 5px solid purple;
  border-bottom: 5px solid purple;
  z-index: 1;
}

.about-me {
  border-radius: 2px;
  width: 80%;
  margin: auto;
  font-size: 1.2em;
  text-align: center;
  background-color: lightpink;
  margin-top: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: purple;
  border: 5px solid purple;
}

.contact-me {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: purple;
  text-align: center;
  padding: 50px;
  font-size: 1.5em;
  border: 4px solid pink;
  border-radius: 2px;
  color: lightpink;
}

.contact-me input, textarea {
  font-size: 1em;
  background-color: lightpink;
  color: purple;
}

.contact-me button {
  font-size: 1em;
  background-color: hotpink;
  border-radius: 2px;
  border: 5px solid pink;
  color: purple;
}

.contact-me button:hover {
  background-color: pink;
  border: 5px solid hotpink;
}

.subscribe {
  font-family: cursive;
  background-color: aqua;
  padding: 15px;
  color: purple;
  text-align: center;
  border-top: 4px solid purple;
  border-bottom: 4px solid purple;
  margin-top: 20px;
  margin-bottom: 120px;
}

.subscribe button {
  background-color: pink;
  font-size: 1.2em;
  border: 5px solid hotpink;
  border-radius: 2px;
  color: purple;
  padding: 5px;
}

.subscribe button:hover {
  background-color: hotpink;
  border: 5px solid pink;
}

.subscribe input {
  width: 300px;
  color: aqua;
  margin: 5px;
  border-radius: 2px;
  background-color: lightpink;
  font-size: 1em;
}

footer {
  background: hotpink;
  text-align: center;
  color: purple;
  font-family: cursive;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  border-top: 5px solid purple;
  border-bottom: 5px solid purple;
}

.recaptcha {
  width: 300px;
  margin: 0 auto;
}

.mySlides {
  display: none;
}

.img-slider {
  width: 50%;
  margin-top: 50px;
  border: 5px solid purple;
}

.img-slider button {
  background-color: rgba(255, 105, 180, 0.4) !important;
}
