* {
  margin: 0;
  padding: 0;
}

body {
    padding: 0px;
}

p, h2 {
  font-size: 2em;
  font-weight: bold !important;
  font-family: 'Bad Script', cursive, bold !important;
}

#splash {
  background-image: url(./images/birthday-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.splash_text{
  background: rgba(255, 255, 255, 0.65);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #990661;
  text-shadow: 2px 2px rgb(76, 255, 255);
  padding: 0 40px;
  text-align: center;
}

.splash-about-me {
  font-size: 1.8em;
  line-height: 1.6;
  font-style: bold;
  padding-bottom: 30px;
}

.logo {
  margin-bottom: 10px;
  width: 150px;
}

.nav-link {
  margin-top: 5%;
}

.arrow-icon {
  width: 30px;
  animation: bounce 1.5s infinite alternate;
 -webkit-animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.prices {
  width: 100%;
  margin: auto;
}

.prices .words {
  color: purple;
  margin-left: 10%;
}

.prices_img {
  width: 100%;
}

.alert-note {
  font-size: 0.8em;
  font-style: italic;
}

.contact-me-shell {
  background-image: url("./images/glitter.jpeg");
  width: 100%;
  margin: auto;
}

.contact-me {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(76, 255, 255,0.7);
  text-align: center;
  padding: 50px;
  font-size: 0.8em;
  color: #990661;
}

.contact-me_input {
  font-size: .8em;
  color: #990661;
  margin: 10px;
  width: 250px;
  border: 3px solid #990661;
  border-radius: 2px;
}

.contact-me_textarea {
  border-radius: 2px;
  font-size: 1em !important;
  color: #990661;
  margin: 10px;
  width: 280px;
  border: 3px solid #990661;
}


/* .contact-me_btn {
  font-size: 1em;
  border-radius: 20px;
  border: 3px solid #990661;
  color: rgb(76, 255, 255);
  padding: 3px 10px;
  margin-top: 15px;
  background-image: url(/images/pink-glitter.jpeg);
}

.contact-me_btn:hover {
  background-color: #990661;
  color: #990661;
  border: 3px solid #990661;
  background: none;
} */

.contact-me_btn {
  background: none;
  border: none;
  margin-top: 10px;
}

.send-btn {
  width: 90px;
}

.send-btn:hover {
  width: 95px;
}


.footer {
  text-align: center;
  background-image: url(/images/pink-glitter.jpeg);
  color: rgba(76, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  #copyright {
    font-size: 0.9em;
    letter-spacing: 1px;
  }
}


.footer_ul {
  list-style: none;
  background-color: rgba(58, 2, 46, 0.5);
}

.footer_li {
 display: inline-block;
 z-index: 1;
}

.footer_img {
  width: 40px;
  background: none;
  border-radius: 100px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.recaptcha {
  width: 300px;
  margin: 0 auto;
}
