<link rel="stylesheet" href="app.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="top">
  <p class="top">Cait Cakes</p>
</div>

<div class="tyquote">
  Thanks for the request, i'll get back to you as soon as possible... </br>
  note: do to this being a one woman operation I will need to make sure there
  is room on my schedual as well.
</div>

<div class="container">
  <div class="row">
    <div class="about-me col-lg-6 col-lg-offset-3">
      <p><h2>Hi im Caitlynn</h2>
        I make cakes in the north fort worth area, if you are interested in having
        me make your next cake you can leave me a message down below.
      </p>
      <div class="container email">
        <form method="POST" action='/'>
          <input type="text" name='email' class="form" placeholder="your-email@email.com">
          <button onclick="subscribedmsg()">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="quote col-sm-6 col-sm-offset-3">
      <div class="row">
        <h1 class="text-center quote">Request a quote!</h1>
        <form method="POST" action='/quote'>
          <div class="form-group col-md-6 col-md-offset-3">
            <input type="text" class="form-control" name="first_name" placeholder="First Name">
          </div></br>
          <div class="form-group col-md-6 col-md-offset-3">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name">
          </div></br>
          <div class="form-group col-md-6 col-md-offset-3">
            <input type="email" class="form-control" name="email" placeholder="Email">
          </div></br>
          <div class="form-group col-md-6 col-md-offset-3">
            <textarea name="quote" class="form-control" rows="3" placeholder="Request a quote!"></textarea>
          </div></br>
          <button type="submit" class="btn btn-default col-sm-2 col-sm-offset-5">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  function subscribedmsg() {
      alert("Thanks for subscribing!");
  }
</script>
