<link rel="stylesheet" href="app.css">

<!-- <div class="top down">
  <p class="top"></p> -->
  <!-- <div>
    <h2> Thanks for subscribing! </h2>
  </div>
  <div class="email">
    <form method="POST" action='/subscribed'>
      <input type="text" name='email' class="form" placeholder="your-email@email.com">
      <button>Subscribe</button>
    </form>
  </div>
</div>

<div class="images">
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../lama-cake.jpg">
        <img src="../lama-cake.jpg" />
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../pokadot-cake.jpg">
        <img src="../pokadot-cake.jpg" />
      </a>
    </div> -->
  <!-- </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../watermelon-cake.jpg">
        <img src="../watermelon-cake.jpg" />
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="../snow-cake.jpg">
        <img src="../snow-cake.jpg" />
      </a>
    </div>
  </div> -->
<!-- </div> -->
